/* Resets
 * ======================================================================== */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

html {
  font: 100% Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  margin: 0;
  background: none;
  cursor: pointer;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}



/* Utility
 * ======================================================================== */

.struct {
  position: absolute;
  left: -9999px;
}


/* Layout
 * ======================================================================== */

.header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: .5rem .75rem;
  margin-bottom: 1rem;
  width: 100%;
  background: tomato;
  color: white;
}

.header h1 {
  font-weight: bold;
  font-size: 175%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
}

.header h1 a {
  color: inherit;
  text-decoration: none;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

/* Transactions
 ------------------------------------------------------- */

.transaction-log {
  width: 100%;
  margin-bottom: 2rem;
  border-collapse: collapse;
}

.transaction-log th {
  text-align: left;
}

.transaction-log .amount,
.transaction-log .date {
  text-align: right;
}
.transaction-log tr td.amount {
  font-family: monospace;
}
.transaction-log .added {
  color: forestgreen;
}
.transaction-log .deducted {
  color: crimson;
}

.transaction-log th,
.transaction-log td {
  padding: .5rem;
}

.transaction-log tbody {
  border-bottom: 1px solid tan;
}
.transaction-log tbody tr:nth-child(even) {
  background: whitesmoke;
}
.transaction-log tfoot {
  font-weight: bold;
}


/* Entry Form
 ------------------------------------------------------- */

.new-entry {
  margin: 0 auto;
  padding: 0 .5rem;
  max-width: 400px;
  width: 100%;
}
.new-entry input,
.new-entry button {
  width: 100%;
  height: 2rem;
  padding: 0 .5rem;
  margin-bottom: .25rem;
  font-size: inherit;
  border: none;
  background: whitesmoke;

  -moz-appearance: none;
  -webkit-appearance: none;
}
.new-entry button {
  color: white;
  background: tomato;
}

